.iz-UIM-s1-div1 {
    background-image: url("/storage/app/public/images/Admin/manage-ui/desktop-Preview.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height:  340px;
    width: 100%;
}

.iz-UIM-s1-div2 {
    background-image: url("/storage/app/public/images/Admin/manage-ui/mobile-Preview.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height:  340px;
    width: 100%;
    margin-top: 20px;
}

.iz-UIM-s1-text1 {
    color: #696969;
}