.tab-order-history-s1-div1 {
    width: 32%;
}

.w-100 thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary-100);
}

tr {
    border-collapse: separate !important;
}

.tab-order-history-s1-border-bottom {
    border: 0px;
    border-bottom: 1px solid #AEAEAE;
}

.tab-order-history-s1-table1 {
    table-layout: fixed;
    overflow: hidden;
}

.tab-order-history-s1-button1 {
    width: 110px !important;
}

@media only screen and (max-width: 992px) {
    .tab-order-history-s1-th1 {
        width: 33%;
    }
}