.table-container {
  width: 100%;
  max-height: 80vh;
  overflow-x: auto;
}

.table-container::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

.table-container::-webkit-scrollbar-track {
  background: var(--main-primary-100);
}

.table-container::-webkit-scrollbar-thumb {
  background: var(--primary-300);
  border-radius: 20px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: var(--primary-300);
}

.manageStaff-card {
  width: 100%;
  max-height: 80vh;
}

.table-width {
  width: 1200px;
}

.manageStaff-border {
  border: 1px solid #aeaeae;
}

.manageStaff-border-bottom {
  border: 0px;
  border-bottom: 1px solid #aeaeae;
}

.manageStaff-text {
  color: #696969;
}

.manageStaff-switch:checked {
  background-color: var(--main-dark);
  border-color: var(--main-dark);
}

.manageStaff-switch {
  background-color: var(--red-600);
  border-color: var(--red-600);
}

.manageStaff-switch:focus {
  box-shadow: none;
  border-color: transparent;
}
.manageStaff-switch:active {
  box-shadow: none;
  border-color: transparent;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .table-width {
    width: 1000px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .table-width {
    width: 1000px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .table-width {
    width: 1000px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .table-width {
    width: 1100px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .table-width {
    width: 100%;
  }
}
