.topc-card1-w {
    width: 48%;
} 

.topc-card2-w {
    width: 48%;
}

.topc-div1-w {
    width: 48%;
}

.topc-border {
    border: 1px solid #AEAEAE;
}

.topc-border-bottom {
    border: 0px;
    border-bottom: 1px solid #AEAEAE;
}

.topc-text-clr-1 {
    color: #717171;
}

.topc-text-clr-2 {
    color: #696969;
}

.table-container {
    overflow-y: scroll;
    max-height: 210px !important;
}

.table-container::-webkit-scrollbar {
    width: 5px;
}

/* Fix the position of the table header */
.w-100 thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary-100);
}

tr {
    border-collapse: separate !important;
}

.topc-s1-switch:checked {
  background-color: var(--main-dark);
  border-color: var(--main-dark);
}

.topc-s1-switch {
  background-color: var(--red-600);
  border-color: var(--red-600);
}

.topc-s1-switch:focus {
  box-shadow: none;
  border-color: transparent;
}
.topc-s1-switch:active {
  box-shadow: none;
  border-color: transparent;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

@media only screen and (max-width: 767px) {
    .topc-card1-w {
        width: 100%;
    } 
    
    .topc-card2-w {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .topc-card1-w {
        width: 47%;
    } 
    
    .topc-card2-w {
        width: 48.5%;
    }
}
@media only screen and (min-width: 992px) {
    .topc-card1-w {
        width: 48%;
    } 
    
    .topc-card2-w {
        width: 48%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1070px) {
    .topc-txt1 {
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1235px) {
    .topc-txt1 {
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 1236px) and (max-width: 1350px) {
    .topc-txt1 {
        font-size: 14px !important;
    }
}