.tab-viewproduct-s1-div1 {
  width: 32%;
}
.tab-viewproduct-s1-div2 {
  width: 32%;
}

.tab-productview-img1 {
  height: 70px;
}

.tab-viewproduct-s1-model1-div1 {
  background-image: url("../../resources/images/products/p_img_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh !important;
  aspect-ratio: 13/20;
  border-radius: 10px;
}

.tab-viewproduct-s1-model2 {
  max-width: 800px !important;
}