.tab-user-managment-s1-div1 {
    width: 48%;
}

.w-100 thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary-100);
}

tr {
    border-collapse: separate !important;
}

.tab-user-managment-s1-border-bottom {
    border: 0px;
    border-bottom: 1px solid #AEAEAE;
}

.tab-user-managment-s1-switch {
    background-color: var(--red-600);
    border-color: var(--red-600);
}

.tab-user-managment-s1-switch:checked {
    background-color: var(--main-dark);
    border-color: var(--main-dark);
}

.tab-user-managment-s1-switch:focus {
    box-shadow: none;
    border-color: transparent;
}

.tab-user-managment-s1-switch:active {
  box-shadow: none;
  border-color: transparent;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

@media only screen and (max-width: 992px) {
    .tab-user-managment-s1-th1 {
        width: 50%;
    }

    .tab-user-managment-s1-table1 {
        table-layout: fixed;
        overflow: hidden;
    }
}